.about-me h1{
    margin-bottom: 3rem;
}

@media(min-width:992px){
    .about-me .description{
    flex: 0 0 56%;
    }

    .about-me .photo-et-infos{
        flex: 0 0 44%;
    }
}

#photo{
    height: 170px;
    box-shadow: rgba(159, 116, 5, 0.25) 0px 4px 10px;
    margin-right: 0.5rem;
}

@media(max-width:992px){
    .about-me .photo-wrapper{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

.about-me .icon{
    margin-right: 5px;
}

.about-me .contact-info p {
    display: flex;
    align-items: center;
}

.about-me .contact-info p img {
    margin-top: 2px;
}

.about-me .contact-info a{
    color: #b8860b;
}

.about-me .contact-info p.hoverable:hover{
    background-color: #444;
}

.about-me .contact-info p:hover a{
    color: #f9f6dc; 
}

.about-me .contact-info p.hoverable:hover .icon{
     fill: #daa520;
}

.about-me .contact-info .buttonModal{
    cursor: pointer;
}