.about-me h1{
    margin-bottom: 2rem;
}

@media(min-width:992px){
    .about-me .description{
    flex: 0 0 56%;
    }

    .about-me .photo-et-infos{
        flex: 0 0 44%;
    }
}

#photo{
    height: 170px;
    margin-bottom: 1rem;
}

@media(max-width:992px){
    .about-me.photo-wrapper{
        margin-top: 1rem;
    }
}

.about-me .icon{
    margin-right: 5px;
}

.about-me .contact-info p {
    display: flex;
    align-items: flex-start;
}

.about-me .contact-info p img {
    margin-top: 2px;
}

.about-me .contact-info a{
    color: #b8860b;
}

.about-me .contact-info a:hover{
    color: #f9f6dc; 
    background-color: #444;
}

.about-me .contact-info .buttonModal{
    cursor: pointer;
}