.header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 30;
}

.header a{
    cursor: pointer;
    color: #f9f6dc;
}

.nav-link{
    font-size: 1.2rem;
}

.nav-link:hover{
    background-color: #888;
    color: #f9f6dc;
}

.nav-link:focus {
    color: #f9f6dc !important;
    text-decoration: underline 2px #f9f6dc;
    text-underline-offset: 3px;
}